  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    background-image: url(../img/fondo/Oversized\ White\ Marble.jpg);
  }
  

  /* Nav  */
  .nav {
    height: 50px;
    width: 100%;
    background-color: #b05420;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    font-style: oblique;
    font-stretch: expanded;
    text-shadow:  0 0 1px #b05420, 0 0 1px #b05420,0 0 1px #b05420,0 0 1px #b05420;
    color: rgb(192, 192, 192) ;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.575);
    color: #b05420;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      height: 24px;
      
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }








  
/* section  */


@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


nav {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3.125rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .logo {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li + li {
  margin-left: 2rem;
}

.heading {
  font-family: "Playfair Display", serif;
 
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100vh - 5rem);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 3.125rem;
}

.wrapper {
  overflow: hidden;
 
 
}

.absolute-wrapper {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 0;
  z-index: -1;
  
 

}

.colored-backgrounds {
  position: absolute;
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colored-backgrounds div {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 8%;
 
  
}

.colored-backgrounds div:nth-child(1) {
  background-color:   #b0552081;
  
}

.colored-backgrounds div:nth-child(2) {
  background-color: #d4855786;
}

.colored-backgrounds div:nth-child(3) {
  background-color: #d8ab8e86;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.content p {
  margin-bottom: 1.5rem;
  font-family: open sans;
  text-align: left;
/* margen de texto contra la imagen*/
  padding-right: 10px;

}




/* boton de regreso */
button.Stripe{
  align-items: center;
  background: rgba(1, 1, 1, 0.274);
  border: none;
  border-radius: 50px;
  color: rgb(10, 10, 10);
  cursor: pointer;
  display: flex;
  font-size: small;
  margin-left: 50%;
  margin-top: 10px;
  padding: 10px 20px;
}
button.Stripe svg{
  fill: white;
}
button.Stripe svg.Arrow-Hover{
  display: none;
}
button.Stripe:hover{
  background: rgba(1, 1, 1, 0.479);
  transition: 0.5s ease-in-out;
}
button.Stripe:hover svg.Arrow{
  display: none;
}
button.Stripe:hover svg.Arrow-Hover{
  animation: move 0.15s ease-in-out forwards;
  display: block;
}
@keyframes move {
  0%   { transform: translateX(0px); }
  100% { transform: translatex(10px); }
}

.linkeo{
  text-decoration: none;
  text-decoration-color: #b05420;

}
 








.images {
  width: 650px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
 
 
}

.images .image {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;

}



.navigation .right,
.navigation .left {
  height: 60px;
  width: 60px;
  border: 1px solid #333;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;

}

.navigation .right:hover,
.navigation .left:hover {
  background-color: rgba(51, 51, 51, 0.815);
  color: rgb(255, 255, 255);
}

.navigation .right:active,
.navigation .left:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

.images,
.colored-backgrounds {
  -webkit-transition: -webkit-transform 0.35s
    cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1),
    -webkit-transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.colored-backgrounds {
  -webkit-transition-delay: 250ms;
  transition-delay: 350ms;
}








  
 /* footer */

 .footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}